@model userDashboard.Models.User

<html>
    <head>
        <meta charset='UTF-8'>
        <title>Leave A Message</title>
        <style>
            .comment{
                padding-left: 50px;
                margin: 0;
            }
            #info p{
                margin-bottom: 5px;
            }
            #info h4{
                margin-left: 50px;
                margin-right: 200px;
                vertical-align: top;
            }
            #messages{
                margin-top: 25px;
                margin-left: 40px;
            }
            .inline-block{
                display: inline-block;
            }
            .container{
                padding: 100px;
                padding-top: 30px;
            }
            body{
                background-color: #e1e0e0;
            }
            textarea{
                width: 70%;
            }
            input[type=submit]{
                margin-left: 450px;
            }
            .message textarea{
                margin-left: 40px;
                background-color: #f2f2f2;
            }
            .message{
                background-color: #f2f2f2;
            }
            .message-details{
                background-color: white;
                padding: 25px 25px 5px 25px;
                margin-bottom: 15px;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div id="menu">
                <h3>Test App</h3>
                <a href="/dashboard">Dashboard</a>
                <a href="/edit-user">Profile</a>
                <a href="/log-off">Log off</a>
            </div>
            <hr>
            <div id="info">
                <h4 class='inline-block'>@Model.first_name @Model.last_name</h4>
                <div class='inline-block'>
                    <p>Registered at: @Model.CreatedAt</p>
                    <!--<p>User ID: @Model.id</p>-->
                    <p>Email Address: @Model.email</p>
                    <p>Description: @Model.description</p>
                </div>
            </div>
            <div id="messages">
                <h5>Leave a message for @Model.first_name</h5>
                <form action="/message" method="POST">
                    <textarea name="message" cols="30" rows="10"></textarea>
                    <input type="hidden" name="posterId" value="@ViewBag.posterId">
                    <input type="hidden" name="userId" value="@Model.id"><br>
                    <input type="submit" value="Post">
                </form>
                @foreach(var message in @Model.messagesTo){
                    <div class="message">
                        <div class="message-details">
                            <p>@message.poster.first_name @message.poster.last_name - @message.UpdatedAt</p>
                            <p>@message.message</p>
                        </div>
                        @if(message.comments != null){
                            @foreach(var comment in @message.comments){
                                <div class="comment">
                                    <p>@comment.commenter.first_name @comment.commenter.last_name - @comment.UpdatedAt</p>
                                    <p>@comment.comment</p>
                                </div>
                            }
                        }
                        <form action="/comment" method="POST">
                            <textarea name="comment" cols="30" rows="10"></textarea>
                            <input type="hidden" name="commenterId" value="@ViewBag.posterId">
                            <input type="hidden" name="messageId" value="@message.id">
                            <input type="hidden" name="userId" value="@Model.id">
                            <input type="submit" value="Comment">
                        </form>
                    </div>
                }
            </div>
        </div>
    </body>
</html>